@font-face {
    font-family: n;
    src: url(./NeueMachina-Regular.otf);
}
@font-face {
    font-family: b;
    src: url(./BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

#main{
    height: 100%;
    width: 100%;
    background-color: 
    #f0f0f0;
}


.grid{
    height: 100%;
    margin: 0 80px;
    background-color: #f0f0f0;
}

.header{
    width: 100%;
    height: 52px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    color: black;
    /* border: 1px solid blue ; */
}

.header .left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    padding-top: 32px;
}

.nav-text a{
    color: black;
    text-decoration: none;
    font-family: n;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;

}

.logo{
    height: 52px;
    width: 52px;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    padding-top: 32px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn .button1{
    /* border: 1px soild black; */
    background-color: #fff;
    padding: 10px 12px;
    font-family: n;
    /* color: #000; */
}
.btn .button2{
    /* border: 1px soild black; */
    background-color: #000;
    /* color: #fff; */
    padding: 10px 15px;
    font-family: n;
}

.button1 a{
    text-decoration: none;
    color: #000;
}
.button2 a{
    text-decoration: none;
    color: #fff;
}
.hero{
    width: 100%;
    height: 580px;
    /* background-color: red; */
    margin-top: 150px;
    padding-left: 10px;
    display: flex;

}

.framele{
    width: 721px;
    height: 524px;
    /* background-color: blue; */

}

.frametext{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.frametext h1{
    font-size: 70px;
    font-family: n;
    text-transform:capitalize;
    letter-spacing: -4px;
    line-height: 80px;
    font-weight: 400;
}
.frametext p{
    font-size: 18px;
    font-family: n;
    text-transform: capitalize;
    line-height: 26px;
}
.framere{
    height: 580px;
    width: 550px;
    /* background-color: blue; */
    margin-left: 2vw;
    /* gap: 20px; */
    /* display: flex; */
}

.form-box input{
    font-size: 18px;
    color: #000;
    padding: 15px;
    padding-right: 90px;
    border: none;
    outline: none;
    font-family: n;
}
.form-box button{
    color: #fff;
    padding: 15px 20px;
    border: none;
    font-size: 18px;
    font-family: n;
    background-color: #000;
}

.svg1{
    margin-top: 50px;
}



@media only screen and (max-width: 600px) {
    .nav-text{
        display: none;
    }
    .grid{
        height: 100%;
        margin: 0 0px;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        background-color: #f0f0f0;
    }
    .header .btn{
        display: none;
    }
    .framele{
        width: 446px;
        height: 424px;
        /* background-color: blue; */
    }

    .frametext h1{
        font-size: 70px;
        font-family: n;
        text-transform:capitalize;
        letter-spacing: -4px;
        line-height: 80px;
        font-weight: 400;
    }
    .frametext p{
        font-size: 18px;
        font-family: n;
        text-transform: capitalize;
        line-height: 26px;
    }

    .hero{
        width: 100%;
        height: 580px;
        /* background-color: red; */
        margin-top: 70px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    
    }
    .form-box input{
        font-size: 18px;
        color: #000;
        padding: 15px;
        padding-right: 34px;
        border: none;
        outline: none;
        font-family: n;
    }
    .form-box button{
        color: #fff;
        padding: 15px 20px;
        border: none;
        font-size: 18px;
        font-family: n;
        background-color: #000;
    }

    .framere{
        display: none;
    }
    .aboutus .frame2{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .aboutus .frame2 .framele2 svg{
        display: none;
    }
    .frametext2 h1{
        font-size: 50px;
        font-family: n;
        /* text-transform:capitalize; */
        /* letter-spacing: -4px; */
        /* line-height: 60px; */
        /* font-weight: 400; */
    }
    .frametext2 p{
        font-size: 5px;
        font-family: n;
        text-transform: capitalize;
        line-height: 26px;
        padding-left: 4px;
    }
    #main .footer{
        /* display: none; */
        display: flex;
        flex-direction: column;
        margin-top: 550vw;
        height: 780px;
    }
    .framele2{
        display: none;
        
    }
    /* .footer .rightfoot{
        display: flex;
        flex-direction: column;
    } */
    .about{
        color: #fff;
        display: flex;
        flex-direction: column;
    
    }
    .footer .about .emailadd{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        padding-top: 3vw;
        padding-left: 5.2vw;
    }
    .leftfoot{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer .about .emailadd2{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        padding-top: 3vw;
        padding-left: 5vw;
    }
    .footer .socials{
        padding-left: 3vw;
        padding-top: 9vw;
        /* font-size: 1vw; */
    }
  }


.aboutus{
    /* background-color: red; */
    margin-top: 200px;
    width: 100%;
    height: 588px;
}
.frame2{
    display: flex;
    gap: 2vw;
}

.framere2 .button12{
    /* border: 2px soild black; */
    /* background-color: #fff; */
    padding: 10px 4px 25px 0px;
    font-family: n;
    text-transform: uppercase;
    font-weight: 800;
    /* color: #000; */
    /* border: 2px soild red; */
}
.button12 a{
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 8px 12px;


}


.frametext2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.frametext2 h1{
    font-size: 60px;
    font-family: n;
    /* text-transform:capitalize; */
    letter-spacing: -4px;
    line-height: 60px;
    font-weight: 400;
}

.frametext2 p{
    font-size: 18px;
    font-family: n;
    text-transform: capitalize;
    line-height: 26px;
    padding-left: 4px;
}

.bullets{
    margin-top: 30px;
}

.textbull{
    display: flex;
    padding-bottom: 15px;
}
.textbull .text{
    padding-top: 2.7px;
    padding-left: 18px;
    font-family: n;
}

.Howitwork{
    margin-top: 200px;
    width: 100%;
    height: 861px;
}

.frametext3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.frametext3 h1{
    font-size: 60px;
    font-family: n;
    /* text-transform:capitalize; */
    letter-spacing: -4px;
    line-height: 60px;
    font-weight: 400;
}

.frametext3 p{
    font-size: 18px;
    font-family: n;
    text-transform: capitalize;
    line-height: 26px;
    padding-left: 4px;
}

.textbull2 .text p{
    padding-top: 2.7px;
    padding-left: 18px;
    font-family: n;
    /* font-weight: 200; */
}
.textbull2 .text h1{
    padding-top: 2.7px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-family: n;
    font-weight: 200;
}
.svg10{
    padding-top: 15px;
}

.textbull2{
    display: flex;
    padding-bottom: 45px;
}

.footer{
    background-color: #151515;
    width: 120%;
    height: 470px;
    margin-top: 160vw;
    display: flex;
}

.leftfoot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftfoot .h1 h1{
    color: #fff;
    font-family: n;
    font-size: 40px;
    font-weight: 400;
}
.leftfoot .h1{
     padding-left: 5vw;
}
.leftfoot .email{
     padding-left: 5vw;
     padding-top: 1vw;
}

.leftfoot .logo2{
    padding-left: 5vw;
    padding-top: 3vw;
}
.cc{
    display: flex;
    /* gap: 15vw; */
}
.cc h1{
    font-family: b;
    color: #fff;
    font-weight: 400;
    padding-left: 5vw;
    padding-top: 4vw;
    font-size: 1vw;
}

.rightfoot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about{
    color: #fff;
    display: flex;

}

.emailadd{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 3vw;
    padding-left: 18vw;
}

.emailadd h3{
    font-family:n;
    /* text-decoration: 1px underline; */

}

.emailadd p{
    font-family: n;
    font-weight: 200;
    color: gray;

}
.emailadd2{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 3vw;
    padding-left: 8vw;
}

.emailadd2 h3{
    font-family:n;
    /* text-decoration: 1px underline; */

}

.emailadd2 a{
    text-decoration: none;
    font-family: n;
    color: grey;
    font-weight: 200;

}

.socials{
    padding-left: 30vw;
    padding-top: 9vw;
    /* font-size: 1vw; */
}
.socials a{
    text-decoration: none;
}
